.bloc-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 35px;
    &__icon {
        color: black;
        margin-right: 3%;
    }
    & h4 {
        color: black;
    }
}

.accroche {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: $ligthgrey;
    padding-bottom: 45px;
}

.mainbloc {
    margin-top: 40px;
    & h2 {
        margin-left: 20px;
    }
}

.bullegrise {
    display: flex;
    align-items: center;
    background-color: $ligthgrey;
    border-radius: 20px;
    box-shadow: 1px 2px 3px grey;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 15px;
    height: 60px;
    &__texte {
        display: flex;
        text-align: center;
    }
}

.restaurant {
    &__container {
        background-color: $ligthgrey;
    }
    &__titleContainer {
        margin-left: 20px;
    }
    &__cardRestaurant {
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 1px 1px 15px 1px grey
    }
    &__pictureContainer {
        height: 72%;
    }
    &__divtexticon {
        background-color: $white;
        height: 28%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__divtext {
        margin-left: 12px;
        margin-top: 5px;
        height: 77%;
        & h3 {
            margin-top: 0;
            margin-bottom: 3px;
        }
        & p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}